<script src="https://kit.fontawesome.com/db5110dee5.js" crossorigin="anonymous"></script>


<header>
    <img id="logo" src="./img/game.png" alt="Logo">
    <nav>
 

        <ul>
            <a href="/"> <li> <i class="fa-solid fa-gamepad fa-1x"></i> Home </li> </a>
            <a href="/criar" > <li> <i class="fa-solid fa-circle-plus"></i></i> Cadastrar </li> </a>
        </ul>
    </nav>
</header>