<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title> Criar </title>
</head>
<body>
    <%- include('./partials/header.ejs') %> 
    <main>
        <section id="form_container">
            <form method= "post" action= "/criar">
                <fieldset>
                <legend> Cadastrar Jogo </legend>

                <fieldset class="fieldset_data">
                    <input type="text" name="nome" required>
                    <label for="nome"> Nome do Jogo</label>
                 </fieldset>

                <fieldset class="fieldset_data">
                    <input type="text" name="desenvolvido" required>
                    <label for="desenvolvido"> Desenvolvido por: </label>
                </fieldset>

                <fieldset class="fieldset_data">
                    <input type="text" name="plataforma" required>
                    <label for="plataforma"> Plataforma do Jogo </label>
                </fieldset>

                <fieldset class="fieldset_data">
                    <input type="url" name="img" required>
                    <label for="img"> Imagem </label>
                </fieldset>

                <fieldset class="fieldset_data">
                    <input type="text" name="iframe" required>
                    <label for="iframe"> Iframe </label>
                </fieldset>
                <div id="btn_container">
                    <button id="btn_submit" type="submit"> Enviar </button>
                </div>
            </fieldset>
            </form>
        </section>
    </main>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>